body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

header{
    background: #FFF8F3;
    background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* nav related styles */
header nav h3{
 
    font-size: 45px;
    font-weight: 800;

}

header nav h3>span{
    color: #FD6E0A;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px 0 200px;
}
header nav ul li{
    list-style: none;
    display: inline;
    margin-left: 51px;
}
header nav a{
    color: #474747;
    text-decoration: none;
}

header nav button, header a{
    font-size: 20px;
    font-weight: 400;
}

header nav button{
    width: 150px;
    height: 64px;
    border: none;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-greeting{
    margin: 0;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    color: #474747;
}
.banner-title{
    margin: 0;
    margin-top: 5px;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    color: #181818;
}
.banner p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
}

.cv-button{
    width: 200px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    border: none;
    margin-right: 30px;
    margin-top: 30px;
}

.contact-button{
    margin-top: 30px;
    width: 160px;
    height: 64px;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
}

.banner .profile-pic{
    width: 584px;
    height: 676px;
}

main{
    width: 1140px;
    margin: auto;
    margin-top: 130px;
}

.about{
  
    height: 550px;
    border-radius: 10px;
    background: #FFF8F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.about .title{
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
    color: #181818;

}

.about-details{
    text-align: center;
    margin: 0;
    margin: 0 131px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.about table td,th{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding-right: 50px;
}

.about table td{
    font-weight: 400;
    color: #757575;
}

.about table th{
    font-weight: 700;
    color: #474747;
}

.resume-title{
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #181818;
}

.resume-details{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    width: 909px;
    margin: auto;
    color: #757575;
}

.techs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.tech{

    width: 267px;
    height: 377px;
    padding: 30px 33px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 10px rgba(97, 97, 97, 0.219);
    box-sizing: border-box;
    
}

.tech h1{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #181818;
}

.tech p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.summary-title{
   text-align: center;
   font-size: 35px;
   font-style: normal;
   font-weight: 700;
   color: #181818;
}

.summary-details{
    display: flex;
    justify-content: space-between;
}

.summary-education{
    width: 511px;
}
.summary-experience{
    width: 511px;
}

.summary-details h1{
    color: #474747;
}

.summary-details h2{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}

.summary-details h3{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    color: #757575;
}

.summary-details p{
    font-size: 16px;
   font-weight: 400;
   color: #757575;
}

footer{
    background-color: #FFF8F3;
    margin-top: 113px;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: top;
}

.footer-section{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-top: 130px;
}

footer .section-1{
    margin-right: 147px;
   
}


footer .section-1 p{
   width: 562px;
   margin-top: 20px;
   margin-bottom: 30px;
}

footer form{
    display: flex;
    flex-direction: column;
}

footer form input{
    width: 461px;
    height: 64px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 5px;
    background-color: #FFF;
    border: none;
    margin-top: 28px;
    margin-bottom: 24px;
    box-sizing: border-box;
    padding-left: 30px;
}

footer form textarea{
    font-family: Open Sans;
    width: 461px;
    height: 180px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    box-sizing: border-box;
    padding-top: 18px;
    padding-left: 30px;
    border: none;
}
footer form>input[type="submit"]{
    margin: 0;
    margin-top: 42px;
    width: 150px;
    height: 64px;
    padding: 0;
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
}